.buttonCat{
    
color: rgb(249, 249, 249) !important;
margin-left: 10px;
height: 50px;
padding: 5px;
border-radius: 10%;
margin-bottom: 10px;
background-color: #090b1348;

}


.buttonCat:hover{
    background-color: #4242420a;
    
    }
    